rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && 
        (request.auth.uid == userId || request.auth.token.email == resource.data.email);
      
      match /emails/{emailId} {
        allow read, write: if request.auth != null && 
          (request.auth.uid == userId || request.auth.token.email == get(/databases/$(database)/documents/users/$(userId)).data.email);
      }
    }
  }
}